{% extends "base.html" %}

{% block content %}

<form action ="/addblog" method ='POST'>
    <h1>Add a Blog Entry</h1>
    <label>Title for your new blog:</label>
    <br/>
    <input type="text" name="title" value='{{title}}'><br/><span class ="error">{{title_error}}</span>
    <br/>
    <br/>
    <label>Your new blog:</label>
    <br/>
    <textarea name="body">{{body}}</textarea><div class = "error">{{body_error}}</div>
    <br/>
    <br/>
    <input type="submit" value="Add Entry">
</form>



{% endblock %}